[submodule "vendor/archivist-contracts"]
	path = vendor/archivist-contracts
	url = https://github.com/durability-labs/archivist-contracts.git
[submodule "vendor/archivist-storage-proofs-circuits"]
	path = vendor/archivist-storage-proofs-circuits
	url = https://github.com/durability-labs/archivist-storage-proofs-circuits.git
	ignore = untracked
	branch = main
