# chronos v4 compatibility mode
--define:"chronosHandleException"

# Development: use local nim-kvstore
--path:"../nim-kvstore"

# archivist-dht only supports secp256k1 keys for libp2p nodes
--define:"libp2p_pki_schemes=secp256k1"

# confutils needs old-style case objects
--define:"nimOldCaseObjects"

# disable warning about .? operators
--warning[DotLikeOps]:off
